---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=homer%40the_simpsons.com&name=Homer+Simpson
    headers:
      Authorization:
      - Bearer gw7kQHtJJFEieaR61IlHUjBMddK6x5CE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_HTe5xnTAgCF6L5",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1592321618,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "homer@the_simpsons.com",
          "invoice_prefix": "115B1D10",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Homer Simpson",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_HTe5xnTAgCF6L5/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_HTe5xnTAgCF6L5/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_HTe5xnTAgCF6L5/tax_ids"
          }
        }
  recorded_at: Tue, 02 Oct 2018 17:05:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_HTe5xnTAgCF6L5
    headers:
      Authorization:
      - Bearer gw7kQHtJJFEieaR61IlHUjBMddK6x5CE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_0Gugn842ZWZdLcOshCOsRjPn",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 6,
            "exp_year": 2021,
            "fingerprint": "PAeX7j84pnTzSwSJ",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1592321619,
          "customer": "cus_HTe5xnTAgCF6L5",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Tue, 02 Oct 2018 17:05:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_HTe5xnTAgCF6L5
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_0Gugn842ZWZdLcOshCOsRjPn
    headers:
      Authorization:
      - Bearer gw7kQHtJJFEieaR61IlHUjBMddK6x5CE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '20[...]
