@import "~bootstrap/scss/bootstrap";
@import "css/vars";
@import "css/top-nav";
@import "css/footer";
@import "css/sticky-donate-button";
@import "css/announcement";

body.splash {
  background-color: $beige;
  color: #2f1904;
}

.splash-page {
  padding: 0;

  .masthead {
    margin-top: 50px;
    padding: 0;
    // height: 500px;
    background-image: url("../images/hands.jpg");
    background-position: 0 -50px;
    background-repeat: no-repeat;
    color: white;
    border: 1px solid black;
    border-width: 1px 0;

    .content {
      margin-top: $margin * 4;
      margin-bottom: $margin;
      width: 100%;
      padding: $margin * 2 0;
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid Silver;
      border-width: 1px 0;
      h1 {
        opacity: 1;
        font-size: 4rem;
        margin-top: 0;
        font-weight: 700;
      }

      p.mission {
        font-size: 1.3rem;
        margin-bottom: 0;
      }
    }

    ul.links {
      padding: 0;
      li.link {
        list-style: none;
        margin-bottom: $margin;
        p {
          width: 80%;
          padding: 0;
          margin: auto;
          margin-bottom: $margin / 2;
          text-align: center;
        }
        a {
          margin: auto;
          height: auto;
          width: auto;
          border-radius: $fff-border-radius;
          background-color: white;
          line-height: 2rem;
          padding: 15px 10px;
        }
      }
    }
    .call-to-action {
      p {
        font-size: 1.5rem;
        padding: $margin;
        margin: 0 $margin;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    p {
      font-weight: 400;
    }
  }

  .splash-nav {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 1.5rem;

    .splash-nav-item {
      color: #032b38;
      border: 1px solid #150b02;
      background: #f5f2ed;
      border-radius: $fff-border-radius;
      box-shadow: 5px 5px $border-radius #aaa;
      width: 80%;
      margin: $margin * 3 auto;
      padding: $margin * 1.5;
      overflow: auto;

      img {
        width: 300px;
        border-radius: 10px;
      }

      &.left {
        text-align: left;
        img {
          float: left;
          margin-right: $margin;
        }
      }

      &.right {
        text-align: left;
        img {
          float: right;
          margin-left: $margin;
        }
      }

      h2 {
        font-size: 2.5rem;
        a {
          color: #032b38;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
