.card.profile-preferences
  .card-header
    Profile Preferences
  .card-body
    %ul
      - current_user.user_preference_selections.each do |preference_selection|
        %li
          = preference_selection.preference.name
    = link_to 'Edit', edit_user_preference_selection_path
