.card.subscription
  .card-header
    Subscription
  .card-body
    - if current_user.subscribed?
      %p= t "users.show.subscribed.#{true}"
      %p= link_to 'Subscription details', subscription_path
    - else
      = link_to t('users.show.upgrade'), new_subscription_path(plan_id: @plan.id), class: 'btn btn-warning'
