#announcement {
  text-align: center;
  padding: $margin / 2 $margin;
  font-size: 1rem;
  width: 100%;
  color: white;
  background-color: $light-purple;
  position: relative;
  top: 55px;
  a.link {
    margin-left: $margin;
  }
  a.close {
    float: right;
    cursor: pointer;
  }
}
