ul.pagination {
  font-size: 0.6rem;
  float: right;
  margin-left: calc($margin / 2);
}
ul.cms-collection {
  padding: 0;
  li {
    margin-top: $margin;
    padding-bottom: $margin;
    list-style: none;
    border-bottom: 1px solid $text-muted;
    ul.recommended-books {
      padding: 0;
      margin: 0;
      li {
        .amazon-links {
          a {
            margin-right: calc($margin / 2);
          }
        }
      }
    }
  }
}
