html,
body {
  background-color: #f0e5d1;
}

body.main {
  font-family: "Josefin Sans", sans-serif;
  color: $text-primary;

  .container-fluid.main {
    padding-top: $margin;
    background-color: $beige;
  }
}

.row {
  margin-bottom: $margin;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

small {
  font-size: 1rem;
}
