html,
body {
  height: 100%;
  background-color: #f0e5d1;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: $text-primary;
  .container-fluid {
    margin-top: 50px;
    padding: $margin;
    background-color: $beige;
  }
}

.row {
  margin-bottom: $margin;
}
