body.splash {
  nav#top-nav {
    background-color: white;
    &.scrolled {
      background: rgba(255, 255, 255, 1);
    }
  }
}

body.main {
  nav#top-nav {
    background-color: $purple;
  }
}

nav#top-nav {
  transition: background 1s;

  font-size: 0.9rem;

  li a {
    line-height: 25px;
  }

  span.logo {
    img {
      height: 30px;
    }
  }

  .become-a-member {
    margin: auto;
    font-size: 0.75rem;
    // line-height: 25px;
  }

//changed to white background 9/10/23

  &.scrolled {
    background: rgba(255, 255, 255, 1);
    // position: sticky;
  }
}
