$margin: 20px;
$text-primary: #212529;
$purple: #362d52;
$light-purple: #605091;
$beige: #f0e5d1;
$fff-border-radius: 10px;
$link-color: $light-purple;
$theme-colors: (
  "primary": $light-purple,
  "danger": #ff4136
);
