= javascript_pack_tag 'stripe'
= simple_form_for :subscription, html: { id: :new_subscription } do |f|
  .row
    .col-6
      .form-group
        %label{ for: 'card-element'} Credit card details
        #card-element.w-100
        #card-errors{role: "alert"}
      = f.submit 'Subscribe', class: 'submit btn btn-primary', data: { disable_with: false }
      %button.loading.btn.btn-primary.d-none{ disabled: true }= fa_icon 'spinner', class: 'fa-spin'

#subscription-success.d-none
  %h2 Subscription Success!
