ul.cms-collection {
  padding: 0;
  li {
    margin-top: $margin;
    padding-bottom: $margin;
    list-style: none;
    border-bottom: 1px solid $text-muted;
    .amazon-links {
      a {
        margin-right: $margin / 2;
      }
    }
  }
}
