footer {
  padding: $margin;
  background-color: #636262;
  font-size: 0.8rem;
  text-align: center;
  color: white;

  ul#footer-nav {
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      a {
        color: white;
        margin: 0;
        padding: 0 5px;
      }
    }
  }
}
