.cms-collection {
  li.radio-show {
    margin: 0;
    .card {
      .card-header {
        font-size: 1rem;
        padding-top: $margin / 2;
        padding-bottom: $margin / 2;
      }
      .card-body {
        p:last-child {
          margin-bottom: 0;
        }
        .badge {
          font-size: 1.2rem;
          float: right;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
