body.splash {
  background-color: #f0e5d1;
  color: #2f1904;
}

.splash-page {
  padding: 0;

  .masthead {
    margin-top: 80px;
    padding: 0;
    height: 500px;
    background-image: url(image-path("hands.jpg"));
    background-position: 0 -50px;
    background-repeat: no-repeat;
    color: white;
    border: 1px solid black;
    border-width: 1px 0;

    .content {
      margin-top: $margin * 4;
      width: 100%;
      padding: $margin * 2 0;
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid Silver;
      border-width: 1px 0;
      h1 {
        opacity: 1;
        font-size: 4rem;
        margin-top: 0;
        font-weight: 700;
      }

      p.mission {
        font-size: 1.3rem;
        margin-bottom: 0;
      }
    }

    .call-to-action {
      margin-top: $margin * 4;
      text-align: right;
      padding-right: $margin * 6;
      font-size: 1.5rem;
      button {
        font-size: 2rem;
        margin-bottom: $margin / 2;
      }
    }

    p {
      font-weight: 400;
    }
  }
}

.splash-nav {
  text-align: center;

  .splash-nav-item {
    color: #032b38;
    border: 1px solid #150b02;
    background: #f5f2ed;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaa;
    width: 80%;
    margin: $margin * 3 auto;
    padding: $margin * 1.5;

    img {
      width: 300px;
      border-radius: 10px;
    }

    &.left {
      text-align: right;
      img {
        float: left;
        margin-right: $margin;
      }
    }

    &.right {
      text-align: left;
      img {
        float: right;
        margin-left: $margin;
      }
    }

    h2 {
      font-size: 2.5rem;
      a {
        color: #032b38;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .body {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }
}
#sticky-donate-button {
  font-weight: 600;
  color: white;
  padding: 0px 0px 0px 0px;
  text-align: center;
  margin: 0px;
  width: 160px;
  height: 40px;
  background: #ff931e;
  z-index: 15;
  border-radius: 5px 5px 0px 0px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: bottom right;
  position: fixed;
  right: 0px;
  top: 40%;
  // visibility: hidden;
  // opacity: 0;
  // transition: visibility 0.5s, opacity 0.5s linear;
  // &.scrolled {
  //   visibility: visible;
  //   opacity: 1;
  // }
}
