@import "vars";
@import "bootstrap";
@import "top-nav";
@import "footer";
@import "sticky-donate-button";

body.splash {
  background-color: $beige;
  color: #2f1904;
}

.splash-page {
  padding: 0;

  .masthead {
    margin-top: 75px;
    padding: 0;
    height: 500px;
    background-image: image-url("hands.jpg");
    background-position: 0 -50px;
    background-repeat: no-repeat;
    color: white;
    border: 1px solid black;
    border-width: 1px 0;

    .content {
      margin-top: $margin * 4;
      width: 100%;
      padding: $margin * 2 0;
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid Silver;
      border-width: 1px 0;
      h1 {
        opacity: 1;
        font-size: 4rem;
        margin-top: 0;
        font-weight: 700;
      }

      p.mission {
        font-size: 1.3rem;
        margin-bottom: 0;
      }
    }

    .call-to-action {
      margin-top: $margin * 4;
      text-align: right;
      padding-right: $margin * 6;
      font-size: 1.5rem;
      button {
        font-size: 2rem;
        margin-bottom: $margin / 2;
      }
    }

    p {
      font-weight: 400;
    }
  }

  .splash-nav {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 1.5rem;
    .splash-nav-item {
      color: #032b38;
      border: 1px solid #150b02;
      background: #f5f2ed;
      border-radius: $border-radius;
      box-shadow: 5px 5px $border-radius #aaa;
      width: 80%;
      margin: $margin * 3 auto;
      padding: $margin * 1.5;

      img {
        width: 300px;
        border-radius: 10px;
      }

      &.left {
        text-align: left;
        img {
          float: left;
          margin-right: $margin;
        }
      }

      &.right {
        text-align: left;
        img {
          float: right;
          margin-left: $margin;
        }
      }

      h2 {
        font-size: 2.5rem;
        a {
          color: #032b38;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
