body.splash nav {
  background-color: white;
}
body.main nav {
  background-color: $purple;
}
nav.top-nav.navbar {
  transition: background 1s;
  &.scrolled {
    background: rgba(255, 255, 255, 0.5);
  }
  span.logo {
    display: inline-block;
    font-size: 3rem;
    line-height: 3rem;
    float: left;
    margin: 0 $margin 0 0;
    padding: 0;
  }
  a.navbar-brand {
    text-align: left;
    line-height: 1.5rem;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding-bottom: 0;
      }
    }
  }
}
