%li
  %h4
    %a{ href: recommended_book.amazon_link, target: :_blank }
      = recommended_book.title
    %small
      \-
      = recommended_book.author

  %p.amazon-links
    %a{ href: recommended_book.amazon_link, target: :_blank } USD
    %a{ href: recommended_book.uk_amazon_link, target: :_blank } GBP
    %a{ href: recommended_book.cad_amazon_link, target: :_blank } CAD

