- colors = [:primary, :success, :danger, :info, :warning]
.cms-page
  .header
    %h2= @cms_page.title if @cms_page.title.present?
    %h3= @cms_page.sub_title if @cms_page.sub_title.present?
  - unless @cms_page.children.empty?
    .child-nav
      - @cms_page.children.each do |child|
        %a.btn.btn-primary{ href: page_by_id_url(child) }= child.title
  .content

    = blog(@cms_page.body) if @cms_page.body.present?
