
- unless flash.empty?
  .row
    .col
      - flash.each do |name, msg|
        - alert_class = "alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"
        - if msg.is_a?(String)
          %div.alert.alert-dismissible.fade.show{ class: alert_class, role: :alert }
            = msg
            %button.btn-close{ "data-bs-dismiss" => "alert", type: "button", "aria-label" => "Close" }

